html {
box-sizing: border-box;
}

body {
margin: 0;
min-height: 100vh;
background: url(../imgs/Chile_nogada.png) no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
font-family: 'Montserrat', sans-serif;  
}


header{
    background-color: rgba(112, 108, 108, 0.515);
    font-family: 'Nunito', sans-serif;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 15px; 
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 1.2rem;
}

li {
    padding-right: 15px;
}

li a{
    text-decoration: none;
    color: rgba(232, 232, 232, 0.946);
}

 li a:hover {
    border-bottom: 1px solid rgba(223, 220, 220, 0.809);
}
/* main */

#main {
background: #faf5f5ce;
margin-top: 10%;
margin-left: 10%;
margin-right: 10%;
margin-bottom: 15%;
border: 1px solid rgb(235, 201, 11);
display: flex;
flex-direction: column;
text-align: center;
}

h1 {
font-family: 'Satisfy', cursive;
font-size: 5rem;
margin-bottom: 0;
margin-top: 5%;
color: rgba(114, 92, 62, 0.912);
}

hr{
    align-self: center;
    margin-left: 0;
    margin-right: 0;
    border: 1px solid green;
    width: 65%;
}

#description{
    padding-bottom: 180px
}

img{
    align-self: center;
    width: 70%;
    border: 1px solid rgb(235, 201, 11);
    margin-bottom: 10%;
}

#orderNow{
    align-self: center;
    color: rgb(226, 217, 217);
    background-color: rgba(0, 128, 0, 0.803);
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    padding: 15px 32px;
    margin: auto;
    width: 150px;
    width: 200px;
    margin-bottom: 10%;
    border-radius: 20px;
}

#orderNow:hover{
    filter: brightness(110%);
}

#orderNow:active{
    filter: brightness(110%);
    transform: translate(0, 0.1rem);
}

/* menu items*/

.item {
    color: rgb(179, 145, 73);
    font-family: 'Parisienne', cursive;
    font-size: 2rem;
    margin-bottom: 0;
}

.description {
    font-size: 1rem;
}

.price {
    font-size: 0.9rem;
    color: rgb(53, 72, 53);
}

/* queries */

@media screen and (max-width:600px) {
    h1{
        font-size: 3rem;
    }